<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>admire</string>
	<string>agile</string>
	<string>ask</string>
	<string>attack</string>
	<string>awake</string>
	<string>away</string>
	<string>badge</string>
	<string>ball</string>
	<string>bat</string>
	<string>battle</string>
	<string>bead</string>
	<string>bit</string>
	<string>bride</string>
	<string>cake</string>
	<string>call</string>
	<string>came</string>
	<string>cap</string>
	<string>cat</string>
	<string>clay</string>
	<string>clung</string>
	<string>dance</string>
	<string>day</string>
	<string>display</string>
	<string>fake</string>
	<string>faint</string>
	<string>fat</string>
	<string>fetch</string>
	<string>fit</string>
	<string>flap    </string>
	<string>fling</string>
	<string>flop</string>
	<string>gap</string>
	<string>gray</string>
	<string>hat</string>
	<string>hear</string>
	<string>hotel</string>
	<string>ice</string>
	<string>icon</string>
	<string>king</string>
	<string>kitten</string>
	<string>lake</string>
	<string>mall</string>
	<string>map</string>
	<string>mother</string>
	<string>movie</string>
	<string>natural</string>
	<string>nice</string>
	<string>pay</string>
	<string>pot</string>
	<string>price</string>
	<string>queen</string>
	<string>rate</string>
	<string>ring</string>
	<string>rose</string>
	<string>safe</string>
	<string>shake</string>
	<string>sing</string>
	<string>sofa</string>
	<string>stay</string>
	<string>strong</string>
	<string>study</string>
	<string>table</string>
	<string>tall</string>
	<string>tap</string>
	<string>tongue</string>
	<string>wagon</string>
	<string>wall</string>
	<string>watch</string>
	<string>wing</string>
	<string>wonder</string>
</array>
</plist>
